/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.body-margin{
  margin-top: 60px;
}

.container-menu{
  margin:0 0 0 0;
}

.axis path,
.axis line {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 0;
  shape-rendering: crispEdges;
  fill: none;
}
.axisLabels{
  font-size:14px;
  fill: #000000;
  font-weight: bold; 
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.trendLine {
  fill: none;
  stroke-width: 2px;
  stroke: #6D6D6D;
}

.trendPoint {
  stroke-width: 1px;
  stroke: #6D6D6D;
  fill:#6D6D6D;
}

.hidden
{
  display:none;
}

.datapoint {
  stroke-width: 1.5px;
  fill:#FFF;
}

.error{
  color:red;
}

.right-aligned{
  position: absolute;
  right:5px;
}

.date-input{
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px;
}

.option_item:before{
  content:none !important;
}

.padded-container{
  padding: 10px;
}

.options-container{
  height:65px;
}